<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>我的日报</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li class="active">
                <strong>我的日报</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="mainCtrl as main">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" style="width:80px;" ng-disabled="'true'" ng-model="where.dinerType">
                            <option value="">市别</option>
                            <option value="1">午市</option>
                            <option value="2">晚市</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" style="width:80px;" ng-model="where.waitState">
                            <option value="">状态</option>
                            <option value="3">就餐</option>
                            <option value="4">过号</option>
                            <option value="1">等待</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" style="width:95px;" ng-options="f.name for f in typeOptions"
                                ng-model="where.tableType">
                            <option value="">全桌型</option>
                        </select>
                    </div>
                    <div class="form-group m-l">
                        <input placeholder="营业日期" class="form-control" style="width:150px;" date-time
                               ng-model="where.beginDate" format="yyyy-MM-dd" min-view="date" view="date">
                    </div>
                    <button class="btn btn-sm btn-danger m-l" type="button" ng-click="generateAll()"><i
                            class="fa fa-search"></i><span class="bold">生成</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>排队数据</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable dt-options="queue.dtOptions" dt-column-defs="queue.columnDefs" dt-columns="queue.columns" dt-instance="dtInstance1"
                           class="table table-striped table-bordered table-hover">
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>就餐数据</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable dt-options="dining.dtOptions" dt-columns="dining.columns" dt-instance="dtInstance2"
                           class="table table-striped table-bordered table-hover">
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>排队基础报表</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div echarts class="flot-chart-content" chart-instance="echarts1" option-url="dinerTableOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>就餐率同比、环比趋势图</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div echarts class="flot-chart-content" chart-instance="echarts2" option-url="diningRateOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>桌型翻台综合分析</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div echarts class="flot-chart-content" chart-instance="echarts4" option-url="typeTermTableOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>区域翻台综合分析</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div echarts class="flot-chart-content" chart-instance="echarts5" option-url="zoneTermTableOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>就餐时长分析</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div echarts class="flot-chart-content" chart-instance="echarts3" option-url="eatDurationOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>顾客流失时段分布图</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="chart-table">
                        <div echarts class="flot-chart-content" chart-instance="echarts6" option-url="dinerCountOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>