<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>餐桌翻台数据</h2>
        <ol class="breadcrumb">
            <li>
                <a href="./index.html">主页</a>
            </li>
            <li>
                <a>数据</a>
            </li>
            <li class="active">
                <strong>餐桌翻台数据</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="metricCtrl as metric">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" style="width:80px;" ng-disabled="'true'" ng-model="where.dinerType">
                            <option value="">市别</option>
                            <option value="1">午市</option>
                            <option value="2">晚市</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="桌号" style="width:120px;" ng-model="where.tableName">
                    </div>
                    <div class="form-group m-l">
                        <input placeholder="开始日期" class="form-control" style="width:150px;" date-time
                               ng-model="where.beginDate" format="yyyy-MM-dd" min-view="date" view="date">
                        <i class="fa fa-exchange"></i>
                    </div>
                    <div class="form-group">
                        <input type="datetime" placeholder="结束日期" class="form-control" style="width:150px;" date-time
                               ng-model="where.endDate" format="yyyy-MM-dd" view="date" min-view="date"></div>
                    <button class="btn btn-sm btn-danger m-l" type="button" ng-click="search()"><i
                            class="fa fa-search"></i><span class="bold">搜索</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table datatable dt-options="dining.dtOptions" dt-columns="dining.columns" dt-instance="dtInstance"
                           class="table table-striped table-bordered table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>