<div class="page cell">
	<div class="bd account">
		<ul class="cs">
            <li class="c head">
	            <div class="c_hd"><img src="http://i3.s2.dpfile.com/pc/mc/d8c8f6b2e2506659225348e29fe259d4(246c184)/thumb.jpg" alt=""></div>
	            <div class="c_bd c_primary">
	            	<span>Mckay</span>
	            </div>
            </li>
        </ul>
		<div class="cs">
			<div class="c" ng-click="go('wait_list')"><div class="c_bd c_primary"><span>我的排号单</span></div><i class="c_ft"><img src="weixin/skin/images/arrow.png"></i></div>
			<div class="c" ng-click="go('wait_list')"><div class="c_bd c_primary"><span>我的预定单</span></div><i class="c_ft"><img src="weixin/skin/images/arrow.png"></i></div>
		</div>
		<div class="cs info">
			<div class="c" ng-click="go('contact')"><div class="c_bd c_primary"><span>意见反馈</span></div><i class="c_ft"><img src="weixin/skin/images/arrow.png"></i></div>
			<div class="c" ng-click="go('cleverinfo')"><div class="c_bd c_primary"><span>关于木爷</span></div><i class="c_ft"><img src="weixin/skin/images/arrow.png"></i></div>
		</div>
	</div>
</div>