<div class="shop-info">
    <div class="infoco">
        <div class="base-info">
            <h3 class="shop-name">
                <span class="branch">OPENID:{{shop.openId}}</span>
            </h3>
        </div>
        <hr>
        <div class="contact-info">
            <div class="address">
                <div>
                    <span>昵称:{{shop.nickname}}</span>
                </div>
            </div>
            <div class="open-time">
                <div>城市：{{shop.city}}</div>
            </div>
            <div class="open-time">
                <div>头像：{{shop.headImgUrl}}</div>
            </div>
        </div>
    </div>
</div>