<div class="page">
	<div class="shop-queue">
	    <table class="queue-table">
		    <tbody>
		    	<tr>
		    		<th>餐桌类型</th>
		    		<th>等待桌数</th>
		    		<th>预计等待</th>
		    	</tr>
		    	<tr ng-repeat="wait in shop.waitList">
					<td class="queue-name"><strong>{{wait.tableType}}</strong>{{wait.minDiner}}-{{wait.maxDiner}}人</td>
					<td class="waiting-tables"><strong>{{wait.waitTables}}</strong>桌</td>
					<td class="remaining-time"><strong>{{wait.minutes}}</strong>分钟</td>
				</tr>
		    </tbody>
	    </table>
	    <!-- 处理排队状态 -->
	    <div class="row queue-state queuing">
	    	<div class="cw5 fl">
		    	<table>
		    		<tbody>
		    			<tr><td class="current-distant"><strong>2.21</strong>km</td><td class="current-distant"><strong>30</strong>km</td></tr>
		    			<tr><td class="current-distant-label">当前距离</td><td class="current-distant-label">限制距离</td></tr>
		    		</tbody>
		    	</table>
		    </div>
		    <div class="cw5 fr"><span class="get-number" ng-click="view.get_num('1')">立刻领号</span></div>
		</div>
        <!--BEGIN dialog1 //此方法需要封directive-->
        <div class="c_dialog_confirm" id="dialog1" style="display: none;">
            <div class="c_mask"></div>
            <div class="c_dialog">
	            <div class="c_dialog_hd"><strong class="c_dialog_title">请输入就餐人数</strong><button type="button" class="close" ng-click="view.close()">×</button></div>
	            <div class="c_dialog_bd"><input class="form-control" autocomplete="off" type="number" ng-model="view.num"></div>
	            <div class="c_dialog_ft">
	            	<span class="btn btn-default" ng-click="view.close()">取消</span>
	            	<span class="btn btn-danger" ng-click="view.subnum()">确定</span>
	            </div>
            </div>
        </div>
        <!--END dialog1-->
        <!--BEGIN dialog2 //此方法需要封directive-->
        <div class="c_dialog_confirm" id="dialog2" style="display: none;">
            <div class="c_mask"></div>
            <div class="c_dialog">
	            <div class="c_dialog_hd bo"><strong class="c_dialog_title">发送取号请求成功</strong><button type="button" class="close" ng-click="view.close()">×</button></div>
	            <div class="c_dialog_bd"><p>{{shop.shopName}}提醒您：过号请重新取号，谢谢配合!<br>【美味不用等】提醒您：取号后如不来就餐，请及时取消排号，以免您的信誉值降低，影响下一次取号。</p></div>
	            <div class="c_dialog_ft">
	            	<span class="btn btn-danger" ng-click="view.ok()">确定</span>
	            </div>
            </div>
        </div>
        <!--END dialog2-->
	</div>

	<div class="shop-info">
		<div class="infoco">
		    <div class="base-info">
		        <h3 class="shop-name">
		            <span class="branch">{{shop.shopName}}</span>
		        </h3>
		        <div class="shop-start">
		            <span class="style">{{store.shopType}}</span>
		            <span class="score"><img width="16" src="weixin/skin/images/point-3.5.png">{{shop.score}}分</span>
		            <span class="avg-price">￥74/人</span>
		        </div>
		    </div>
		    <hr>
		    <div class="contact-info">
		        <div class="address">
		            <img width="20" src="weixin/skin/images/icon_queue_pin.png">
		            <div>
		                <span>{{shop.address}}</span>
		            </div>
		        </div>
		        <div class="open-time">
		            <img width="18" src="weixin/skin/images/queue_detail_clock.png">
		            <div>营业时间：{{shop.openingTime}}</div>
		        </div>
		    </div>
		    <hr>
		    <table class="discount-info">
		        <tbody>
		            <tr>
		                <td class="discount-label">优惠信息</td>
		                <td class="discount"><p class="none">本店暂无优惠信息</p></td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>